.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px 2px rgb(54, 50, 50); */
    box-shadow: 3px 3px 10px #424242;
    cursor: pointer;
    gap: 10px;
}
.main-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.main-card .sub-name {
    font-weight: bold;
}